#title{
  background-color: #187bcd;
}

h1 {
  display: inline-block;
  font-size: 120px;
  font-family: 'Times New Roman', Times, serif;
  font-weight:bold; 
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 35px;
  padding-right: 35px;
  color: white;
}

h2 {
  display: inline-block;
  font-size: 60px;
  font-family: 'Times New Roman', Times, serif;
  font-weight:bold; 
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right:25px;

}

p {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 100px;

}

.btn{
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 30px;
  background-color: #187bcd;
  border: 5px solid black;
}


/*.helper-red{
    border: 5px solid red;
    background-color: #1167b1;
}

.helper-green {
    border: 5px solid green
}

.helper-yellow {
  border: 5px solid yellow
}
*/


.left {
  position: absolute;
  left: 150px;
  width: 320px;
}

.right {
    position: absolute;
    right: 150px;
    width: 250px;
    padding-top: 50px;
}

.form{
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
}

#check {
  width: 70%;
  height: auto;
}

.confirm {
  color: black;
  
}

.error {
  color: red; 
  font-family: 'Times New Roman', Times, serif;
  text-decoration: underline;
}

.meet-globi{
  font-family: var(--bs-font-sans-serif); 
}


 @media only screen and (max-width: 600px) {
      h1 {
     font-size: 80px; 
    
  }
}

.eg1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}